{% import 'helper/funcs.html.j2' as f with context %} <!-- Library of helper functions -->
<!doctype html>

{% set URL = URL if URL[:5] == "https" else request.url_root[:-1] %}

<html lang="en">
  {% include 'helper/header.html.j2' %}

  <body class="d-flex flex-column">
    <!-- Optional JavaScript -->
    <script src="{{ furl('js/main.min.js') }}"></script>

    <!-- KaTeX rendering -->
    <script defer src="{{ furl('js/auto-render.min.js') }}" onload="renderMathInElement(document.body);"></script>

    <main role="main" class="flex-shrink-0">
      <div class="container">
        {% block pageheader %}
          {% set ns = namespace(title=title) %}
          {% block format scoped %}  {% set ns.title = title|capitalize %}  {% endblock %}
          <div class="d-sm-none"><h1 class="display-5 text-break"> {{ ns.title }}</h1></div>
          <div class="d-none d-sm-block"><h1 class="display-1 text-break"> {{ ns.title }}</h1></div>
          <h3> <small class="text-muted">{% block subtitle %}{% endblock %}</small> </h3>
          <p class="lead mt-5">{% block intro %}{% endblock %} </p>
          <p> {% block rest %}{% endblock %} </p>
          {% block line %} <hr> {% endblock %}
        {% endblock %}
        {% block content %}{% endblock %}
      </div>
    </main>
    <!-- Render feather icons and tooltips -->
    <script>
      feather.replace()

      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
  </body>

  {% include 'helper/footer.html.j2' %}

</html>
