{% import 'helper/funcs.html.j2' as f %} <!-- Library of helper functions -->
<!doctype html>

{% macro furl(filename) %}{{ URL + url_for('static', filename=filename) }}{% endmacro %}
{% macro furl_for(mode, filename=None) %}{{ URL + (url_for(mode, filename=filename) if filename != None else ("/" if mode == "" else url_for(mode))) }}{% endmacro %}

<html lang="en" class="h-100">
  {% include 'helper/header.html.j2' %}

  <body class="d-flex flex-column h-100">
    <!-- Optional JavaScript -->
    <script src="{{ furl('js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ furl('js/popper.min.js') }}"></script>
    <script src="{{ furl('bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    <main role="main" class="flex-shrink-0">
      <div class="container">
        {% block pageheader %}
          <h1 class="display-1"> {{ title|capitalize }}</h1>
          <h3> <small class="text-muted">{% block subtitle %}{% endblock %}</small> </h3>
          <p class="lead mt-5">{% block intro %}{% endblock %} </p>
          <p> {% block rest %}{% endblock %} </p>
          {% block line %} <hr> {% endblock %}
        {% endblock %}
        {% block content %}{% endblock %}
      </div>
    </main>
  </body>

  {% include 'helper/footer.html.j2' %}

</html>
