{% import 'helper/funcs.html.j2' as f %} <!-- Library of helper functions -->
<!doctype html>

{% macro furl(filename) %}{{ URL + url_for('static', filename=filename) }}{% endmacro %}
{% macro furl_for(mode, filename=None) %}{{ URL + (url_for(mode, filename=filename) if filename != None else ("/" if mode == "" else url_for(mode))) }}{% endmacro %}

{% macro emails(list, extra="") %}
  {% if list | length == 1 %}
    <div class="media">
      <span class="border border-white rounded-circle mr-3">
        <a href="{{ fb.get(list[0][0], request.path) }}">
          <img src="{{ furl('img/pfps/{}.png'.format(list[0][0].replace(' ', ''))) }}" class="rounded-circle" onerror="this.src='{{ furl('img/default.png') }}'" alt="...">
        </a>
      </span>
      <div class="media-body">
        <h5 class="mt-0">{{ list[0][0] }}</h5>
        <a href="mailto:{{ list[0][1] }}">{{ list[0][1] }}</a>{{ extra }}
        <p> {{ list[0][2] if list[0] | length > 2 else "" }} </p>
      </div>
    </div>
  {% else %}
    {% for item in list %}
      {{ emails([item]) }}
    {% endfor %}
  {% endif %}
{% endmacro %}

<html lang="en">
  {% include 'helper/header.html.j2' %}

  <body class="d-flex flex-column min-vh-100">
    <!-- Optional JavaScript -->
    <script src="{{ furl('js/jquery.slim.min.js') }}"></script>
    <!-- <script src="{{ furl('js/popper.min.js') }}"></script> -->
    <script src="{{ furl('js/bootstrap.bundle.min.js') }}"></script>

    <!-- KaTeX rendering -->
    <link rel="stylesheet" href="{{ furl('css/katex.min.css') }}">
    <script src="{{ furl('js/katex.min.js') }}"></script>
    <script defer src="{{ furl('js/auto-render.min.js') }}" onload="renderMathInElement(document.body);"></script>

    <main role="main" class="flex-shrink-0">
      <div class="container">
        {% block pageheader %}
          <div class="d-sm-none"><h1 class="display-5 text-break"> {{ title|capitalize }}</h1></div>
          <div class="d-none d-sm-block"><h1 class="display-1 text-break"> {{ title|capitalize }}</h1></div>
          <h3> <small class="text-muted">{% block subtitle %}{% endblock %}</small> </h3>
          <p class="lead mt-5">{% block intro %}{% endblock %} </p>
          <p> {% block rest %}{% endblock %} </p>
          {% block line %} <hr> {% endblock %}
        {% endblock %}
        {% block content %}{% endblock %}
      </div>
    </main>
  </body>

  {% include 'helper/footer.html.j2' %}

</html>
