<footer class="footer py-3">
  <div class="container">
    <span class="text-muted"> {{ f.split_lines('Inspired by: <a href="https://github.com/davidbzhao">David Zhao</a>|Helped by: <a href="https://github.com/cwu159">Charlie Wu</a>| Current webmaster: <a href="https://github.com/stephen-huan">Stephen Huan</a>| <a href="{}"> Website Source</a>| Last updated: <code>{}</code></span>'.format(repo, updated)) }}
  </div>
</footer>
