<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="{{ furl('css/custom.css') }}" rel="stylesheet">

  <title>{{ title|capitalize }} - TJ Cubing</title>
  <meta name="description" content="TJ's Rubik's Cube Clube website">
	<meta name="author" content="Stephen Huan">
  <link rel="shortcut icon" href="{{ furl('img/cubing.ico') }}">
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- Image logo -->
  <a class="navbar-brand" href="http://cubing.sites.tjhsst.edu">
   <img src="{{ furl('img/cubing.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
   TJ Cubing
 </a>

  <!-- Mobile toggle of nav bar-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- All of the pages specified by the Flask program -->
    <ul class="navbar-nav mr-auto">
      {% for path, name in pages %}
        {% if path[0] != "*" %}
          <li class="nav-item {% if request.path == path %}active{% endif %}">
            <a class="nav-link" href="{{ furl_for(path) }}">{{ name|capitalize }} {% if request.path == path %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
        <!-- Dropdown logic -->
        {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ path[1:]|capitalize }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% for entrypath, entryname in name %}
                <!-- Hack but whatever, next webdev can make this entire nav system better -->
                {% if entryname in ["result", "vote!"] %} <div class="dropdown-divider"></div> {% endif %}
                <a class="dropdown-item {{ 'disabled' if not active and entryname in ['run for office', 'vote!'] else '' }}" href="{{ entrypath }}">{{ entryname|capitalize }}</a>
              {% endfor %}
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <!-- Search bar -->
    <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
      <input class="form-control mr-sm-2" name="query" id="query" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- Alerts -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <div class="alert {{ 'alert-' + category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
