<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="{{ furl('css/main.min.css') }}" rel="stylesheet">

  <!-- Cubing icons: https://github.com/cubing/icons -->
  <link rel="stylesheet" href="{{ furl('css/cubing-icons.css') }}">

  <title>{{ title|capitalize }} - TJ Cubing</title>
  <meta name="description" content="TJ's Rubik's Cube Club website">
  <meta name="author" content="Stephen Huan">
  <link rel="icon" href="{{ furl('img/cubing.ico') }}">
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- Image logo -->
  <a class="navbar-brand" href="{{ TJ }}">
   <img src="{{ furl('img/cubing.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
   TJ Cubing
  </a>

  <!-- Mobile toggle of nav bar-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- All of the pages specified by the Flask program -->
    <ul class="navbar-nav mr-auto">
      {% for path, name in pages %}
        {% if path[0] != "*" %}
          <li class="nav-item {{ f.active(path) }}">
            <a class="nav-link" href="{{ furl_for(path) }}">{{ name|capitalize }} {% if f.active(path).strip() == 'active' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
        <!-- Dropdown logic -->
        {% else %}
          {{ f.dropdown(path, name, ["result", "vote!"], vote_active) }}
        {% endif %}
      {% endfor %}
    </ul>

    <!-- Profile -->
    <ul class="navbar-nav navbar-right">
      {% if 'account' in session %}
        {% set children = [('profile', 'profile'), ('settings', 'settings')] %}
        {{ f.dropdown("* ", children, [], False, 
        '<div class="dropdown-divider"></div><a class="dropdown-item">{}</a>'.format(
          f.btn_form("logout", "Logout", "btn", "", "padding: 0; border: none; background: none;", action=furl_for('profile'))
        ), f.img(30, False)) }}
      {% else %}
        <li class="nav-item">
          <a class="btn btn-outline-light mb-3 mb-lg-0 {{ f.active('profile') }} mr-4" href="{{ furl_for('profile') }}" role="button">Sign in</a>
        </li>
      {% endif %}
    </ul>

    <!-- Search bar -->
    <form class="form-inline" action="{{ furl_for('search') }}" method="POST">
      {{ searchForm.csrf_token }}
      {{ f.render_field(searchForm.query) }}
      {{ f.button(text="Search", classes="btn-outline-warning mt-3 mt-md-0") }}
    </form>

  </div>
</nav>

<!-- Alerts -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      {{ f.alert(message, category) }}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
