<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="{{ furl('css/main.min.css') }}" rel="stylesheet">

  <title>{{ title|capitalize }} - TJ Cubing</title>
  <meta name="description" content="TJ's Rubik's Cube Clube website">
	<meta name="author" content="Stephen Huan">
  <link rel="shortcut icon" href="{{ furl('img/cubing.ico') }}">
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- Image logo -->
  <a class="navbar-brand" href="{{ TJ }}">
   <img src="{{ furl('img/cubing.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
   TJ Cubing
  </a>

  <!-- Mobile toggle of nav bar-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- All of the pages specified by the Flask program -->
    <ul class="navbar-nav mr-auto">
      {% for path, name in pages %}
        {% if path[0] != "*" %}
          <li class="nav-item {{ f.active(path) }}">
            <a class="nav-link" href="{{ furl_for(path) }}">{{ name|capitalize }} {% if f.active(path).strip() == 'active' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
        <!-- Dropdown logic -->
        {% else %}
          {{ f.dropdown(path, name, ["result", "vote!"], vote_active) }}
        {% endif %}
      {% endfor %}
    </ul>

    <!-- Profile -->
    <ul class="navbar-nav navbar-right">
      {% if 'account' in session %}
        {% set children = [('profile', 'profile'), ('settings', 'settings')] %}
        {{ f.dropdown("* ", children, [], False, '<div class="dropdown-divider"></div><form action={} method="POST">{}{}</form>'.format(furl_for('profile'), btnform.csrf_token, f.button("logout", "Logout", "btn")), f.img(30, False)) }}
      {% else %}
        <li class="nav-item">
          <a class="btn btn-outline-light {{ f.active('profile') }} mr-4" href="{{ furl_for('profile') }}" role="button">Sign in</a>
        </li>
      {% endif %}
    </ul>

    <!-- Search bar -->
    <form class="form-inline my-2 my-lg-0" action="{{ furl_for('search') }}" method="POST">
      <input class="form-control mr-sm-2" name="query" id="query" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- Alerts -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      {{ f.alert(message, category) }}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
