[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
requests = "*"
beautifulsoup4 = "*"
requests-oauthlib = "*"
matplotlib = "*"
markdown2 = "*"
scikit-learn = "*"
frozen-flask = "*"
flask-sitemap = "*"
python-dotenv = "*"
lxml = "*"
arrow = "*"
fbchat = "*"
flask-uploads = "*"
pandas = "*"
passlib = "*"
humanize = "*"
python-gnupg = "*"
yagmail = "*"
flask-talisman = "*"
flask-wtf = "*"

[requires]
python_version = "3.5"
