{% extends "helper/base.html.j2" %}

{% block intro %} We now do in-house WCA competition simulations (compsims)! {% endblock %}
{% block rest %} This includes judging, scrambling, computer-generated scrambles, stackmat starts, etc. {% endblock %}

{% block content %}

  <form method="POST">
    {{ btnform.csrf_token }}
    <div class="input-group mb-3">
        <select class="custom-select" id="selectdate" name="date" onchange="form.submit()">
          {% for d in dates %}
            <option {{ "selected" if d == date else "value" }}="{{ d }}">Competition at {{ parser(d).format("MM/DD/YYYY") }} ({{ parser(d).humanize() }})</option>
          {% endfor %}
        </select>
      <div class="input-group-append">
        <label class="input-group-text" for="selectdate">Date</label>
      </div>
    </div>
  </form>

  {% set d = parser(date) %}
  <p>Scrambles available <a href="{{ furl('txt/{}scr'.format(d.format('M.D.YYYY'))) }}">here</a>. </p> </caption>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          {% for header in ["Rank", "Person", "t1", "t2", "t3", "t4", "t5", "Ao5"] %}
            <th scope="col"> {{ header }} </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
          <tr>
            <th scope="row"> {{ loop.index }} </th>
            <td> {{ result[1] }} </td>
            {% for d in result[2:] %}
              {{ f.format_weak_time("333", "average", d) }}
            {% endfor %}
            <td> {{ f.format_time("333", "average", result[0]) }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
