{% extends "helper/base.html.j2" %}

{% block intro %} After discussing methods to attract recurring members with the esteemed Justin Choi we decided that having something more to do than just cubing (which could be done at any study hall) would be interesting. Therefore, we are piloting a guest lecture system. Message one of the <a href="{{ furl_for('contact') }}">officers</a> if you want to lecture. {% endblock %}
{% block rest %} This is a list of all the past lectures. {% endblock %}
{% block line %}{% endblock %}

{% block content %}
  {% set headers = ["#", "Date", "Title", "Author", "PDF", "URL", "Slides"] %}

  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          {% for header in headers %}
            <th scope="col"> {{ header }} </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for lecture in lectures %}
          <tr>
            <th scope="row"> {{ loop.index }} </th>
            {% for header in headers[1:4] %}
              <td> {{ lecture[header|lower] }} </td>
            {% endfor %}
            {% for header in headers[4:] %}
              {% set h = header|lower %}
              {% if h in lecture %}
                <td> <a href="{{ furl('pdfs/{}/{}'.format(lecture['title'].replace(' ', ''), lecture[h])) if h != "url" else lecture[h] }}"> {{ header }} </a> </td>
              {% else %}
                <td></td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
