{% extends "helper/error.html.j2" %}
{% block message %} ごめんなさい! What you are searching for does not exist. 小林 (a fellow Python progammer!) will be right on it. {% endblock %}
{% block page %}
  <div class="embed-responsive embed-responsive-16by9">
      <video class="embed-responsive-item" src="https://preview.redd.it/eaj29r2z5ua21.gif?format=mp4&s=2b1d068384789ad8b018ee6c4b90f4747e873dad" type="video/mp4" autoplay loop playsinline></video>
  </div>
  <a href="{{ furl_for('index') }}">Back to home</a>
{% endblock %}
