{% extends "helper/error.html.j2" %}
{% block message %} Files uploaded cannot exceed 16 MB of data. {% endblock %}
{% block page %}
  <a href="{{ URL + request.path }}">Back to the page</a>
{% endblock %}
