{% extends "helper/base.html.j2" %}

{% block subtitle %} TJHSST's all time best speedcubers. {% endblock %}
{% block content %}
  <h3 class="text-center">Current Personal Records</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        {% set ranks = ["NR", "CR", "WR"] %}
        {# for header in ["Event"] + ranks + ["Single", "Average"] + ranks[::-1] #}
        {% for header in ["Event", "Single", "Average"] %}
          <th scope="col" class="{{'text-right' if loop.index > 1 else 'text-left' }}"> {{ header }} </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
        <tr>
          <th scope="row">
            <span class="cubing-icon {{ times[event]['icon'] }} align-baseline"></span>
            <span class="align-baseline">{{ event }}</span>
          </th>
          {% for mode in ["single", "average"] %}
            {% set row = times[event][mode][0] %}
            <td class="text-right">{{ '<a data-toggle="tooltip" data-placement="right" title="{}">'.format(row[1]) + row[1] + "- " + wca_time(event, mode, row[0]) + '</a>'
                 if row | length > 0 and row[0] != DNF else "" }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
