{% extends "helper/base.html.j2" %}

{% block intro %}
{% endblock %}
{% block rest %}{% endblock %}

{% block content %}
  <div class="container">
    {% for i in range(photos|length//3) %}
      <div class="row">
        {% for j in range(3) %}
          <div class="col">
            <img src="{{ furl(photos[3*i + j]) }}" class="img-fluid" alt="Responsive image">
          </div>
        {% endfor %}
      </div>
      <p></p> <!-- spacing -->
    {% endfor %}
  </div>
{% endblock %}
