{% extends "helper/base.html.j2" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h3 class="mb-3"> Club Sponsor and Team Email </h3>
        {{ f.emails([("Christine Conklin", "clconklin@fcps.edu"), ("Team Email", "tjcubingofficers@gmail.com")]) }}
      </div>
      <div class="col-sm">
        <h3 class="mb-3"> Club Officers </h3>
        {{ f.emails([("Justin Gou", "jgdingding@gmail.com"), ("Erick Tian", "ericktian@gmail.com"), ("Ray Bai", "raybai0001@yahoo.com"), ("Justin Choi", "justinjchoice@gmail.com")]) }}
        {{ f.emails([("Stephen Huan", "stephen03.huan@gmail.com", "Webmaster ")], " <a href='https://stephen-huan.github.io/assets/misc/A99DD60E.asc' class='text-success'> (A99DD60E) </a>") }}
      </div>
    </div>
  </div>

{% endblock %}
