{% extends "helper/base.html.j2" %}

{% block pageheader %}{% endblock %}

{% block content %}
  <div class="container-fluid" style="max-width:550px;">
    {% set images = [(furl('img/conklin/IMG_5724.jpg'), "2018-2019", "46.252 seconds"), (furl('img/conklin/IMG_5719.jpg'), "2018-2019"),
    (furl('img/conklin/IMG_4034.jpg'), "2017-2018", "49.162 seconds"), (furl('img/conklin/IMG_4039.jpg'), "2017-2018"),
    (furl('img/conklin/IMG_1623.jpg'), "2016-2017", "58.851 seconds"), (furl('img/conklin/IMG_4533.jpg'), "2016-2017", "")] %}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators" id="indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        {% for img in images %}
          <li data-target="#myCarousel" data-slide-to="{{ loop.index }}"></li>
        {% endfor %}
      </ol>

      <div class="carousel-inner" id="innerCarousel">
        {{ f.carousel_item('<a href="https://alg.cubing.net/?alg=y_D_L_D_B2_D-_U-_L_F-_D_F_D-_F_U2_R2_U-&type=reconstruction&view=playback"> <img class="img-fluid mx-auto d-block" src="{}" width="300" height="300" alt="" title="Credits to Albert Chuang (c2015)"> </a>'.format(furl("img/cubing.png")), active="active") }}

        {% for img in images %}
          {{ f.carousel_item("<img src='{}' width='300' height='300' class='d-block w-100' alt='...'>".format(img[0]), img[1], img[2]) }}
        {% endfor %}
      </div>

      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div style="text-align:center;">
    <!-- Classes documented at https://getbootstrap.com/docs/4.0/utilities/spacing/ and https://getbootstrap.com/docs/4.0/content/typography/-->
    <h1 class="display-1 mt-4">TJ Cubing</h1>
    <hr style="width: 50%; background-color:black; height:3px;">
    <h2>Wednesday B</h2>
  </div>

  <hr>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1> Club </h1>
        <p> The TJ Cubing Club is a place for people of all experience levels. If you do not know how to solve a Rubik's Cube, we'll have an officer teach you. For those who already able to solve, we have experienced members who can give you insight on how to improve your times. Our club is a place where you can relax and have fun solving cubes. </p>
      </div>
      <div class="col-sm">
        <h1> Team </h1>
        <p> Each year, our club forms an 8-person team to compete at the annual <a href="https://www.youcandothecube.com/">You Can Do The Rubik's Cube competition</a>. This year, our team solved 25 cubes in <a href="https://www.youcandothecube.com/competitions/leaderboard-results/">46.252 seconds</a>, beating the world record. </p>

        <p> In the spring, we will conduct tryouts to determine the speed of each aspiring team member. Our executive board will then select the team members based upon a holistic view, including tryout times, club commitment, and teamwork qualities. Each member is required to commit a couple weeks from their schedule to team practices and meetings, usually during the normal club meeting times and lunch. </p>
      </div>
      <div class="col-sm">
        <h1> TJHSST Fall </h1>
        <p> Our club also hosts an annual official WCA competition at TJ in the fall. The competition is run by the club, and anyone can help out. </p>
        <p> The club organizes the schedule of the competition, including the events and prizes. Members of the club also volunteer by being judges, scramblers, runners, and more. </p>
        Past competition links: <!-- TODO: automate getting past comp links from WCA search -->
        <ui>
          <!-- Don't include current year because comp may not be out yet, include 2016, go from most recent to least recent -->
          {% for year in range(year - 1, 2016 - 1, -1) %}
            <!-- Assumes url is TJHSSTFallyyyy -->
            <li> <a href={{"https://www.worldcubeassociation.org/competitions/TJHSSTFall" + year|string }}> {{year}} </a></li>
          {% endfor %}
        </ui>
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1> Facebook Group </h1>
        <p> We also have a <a href="https://www.facebook.com/groups/467954316685561/">Facebook group</a> that you can request to join. </p>
      </div>
      <div class="col-sm">
        <h1> Mailing List </h1>
        <p class="mb-0"> To stay updated, consider joining our mailing list! </p>
        {{ f.render_form(form, ["email"], '<small id="emailHelp" class="form-text text-muted">We\'ll never share your email with anyone else.</small>', f.button()) }}
      </div>
  </div>

  <script>
  $('.carousel').carousel({
    interval: 10000          // default start time before starting to slide
  })

  $('#myCarousel').on('slid.bs.carousel', '', checkitem); // on carousel move

  $(document).ready(function(){               // on document ready
      checkitem();
  });

  function checkitem()                        // check function
  {
      var $this = $('#myCarousel');
      // if first slide, hide controls
      if($('#innerCarousel').children(".carousel-item").eq(0).hasClass("active")) {
          $this.children('.carousel-control-prev').hide();
          $this.children('.carousel-control-next').hide();
          $('#indicators').hide();
      } else {
          $this.children('.carousel-control-prev').show();
          $this.children('.carousel-control-next').show();
          $('#indicators').show();
      }
  }

  </script>

{% endblock %}
