{% extends "helper/base.html.j2" %}
{% block pageheader %}{% endblock %}

{% macro boxes() %}
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>
{% endmacro %}

{% block content %}
  {% if "account" in session %}
    <div class="container">
      <div class="row">
        <div class="col-3">
          <figure class="figure" data-toggle="tooltip" data-placement="top" title="Change your profile picture">
            <a href="{{ furl_for('settings') }}" class="link-unstyled">{{ f.img(250) }}</a>
            <figcaption class="mt-2"><h3 class="mb-0">{{ session.get("name", "") }}</h3>
                                     <h3 class="mt-0"><small class="text-muted">{{ session['account'] }}</small></h3>
            </figcaption>
          </figure>

          <h5> {{ session["scope"] | capitalize }} account </h5>
          <form id="deleteform" method="POST">{{ f.button("delete", "Delete account", "btn-danger show-alert") }}</form>
        </div>

        {% set curr = request.args.get('tab', 'overview') %}
        <div class="col-9">
          <ul class="nav nav-tabs">
            {% for group in tabs %}
              {% if scopes[session.get("scope", "default")] >= loop.index - 1%}
                {% for tab in group %}
                  <li class="nav-item">
                    <a class="nav-link {{ 'active' if tab == curr else '' }}" href="{{ furl_for('profile', tab=tab) }}">{{ tab | capitalize }}</a>
                  </li>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </ul>

          {% if curr == "overview" %}
            <h3 class="mt-4"> ION API status: {{ f.check('token' in session) }}
              <p style="font-size:20px"><small class="text-muted"> ION is used to determine voting/running eligibility, as another factor in 2FA,
                and to scrape data.
              </small></p>
            </h3>
            {% if "token" not in session %}
              <a href="{{ furl_for('login') }}"> Log in </a>
            {% endif %}

            <h3 class="mt-3"> WCA API status: {{ f.check(False) }}
              <p style="font-size:20px"><small class="text-muted"> WCA is used to mark competitions and to determine TJ records.</small></p>
            </h3>

            <h3> GPG encryption: {{ f.check(user["encrypt"] and user["keys"] | length > 0) }}
              <p style="font-size:20px"><small class="text-muted"> Add a GPG key in the <a href="{{ furl_for('settings', tab='GPG keys')}}">settings</a>
              to enable encryption for emails, cookies, and other files.
              </small></p>
            </h3>

            <hr>

            <h3 class="mt-3"> Cookies {{ f.check(session | length > 0) }} <small>({{ session | length }} parameters)</small>
              <p style="font-size:20px"><small class="text-muted"> Cookies and random *.json files are used to store everything because
              I'm too lazy to use a database. </small></p>
            </h3>

            <!-- Toggle cookies -->
            <p>
              <button class="btn btn-primary" id="toggle" type="button" data-toggle="collapse" data-target="#cookie" aria-expanded="false" aria-controls="cookie">
                Show cookie data
              </button>
              <a name="download" href="{{ furl_for('cookie') }}" download role="button">Download</a>
            </p>

            <div class="collapse" id="cookie">
              <ul>
                {% for key, value in session|dictsort %}
                  <li> {{ "{}: {}".format(key, value) }} </li>
                {% endfor %}
              </ul>
            </div>

            <form method="POST">{{ f.button("clear", "Clear cookies?", "btn btn-warning") }}</form>

          {% elif curr == "email" %}
            <p class="mt-3 mb-0"> Email: <a href="{{ 'mailto:' + clubmail }}">{{ clubmail }}</a> </p>
            <p> Password: {{ clubmailpassword }} </p>

            <div class="container">
              <div class="row">
                <div class="col-6">
                  <form method="POST" id="mdform">
                    <div class="form-group">
                      <textarea class="form-control" name="recipients" rows="1" placeholder="Recipients: {{ ', '.join(emails) }}" value="hi!"></textarea> 
                    </div>
                    <div class="form-group">
                      <label for="mdemail">Markdown</label>
                      <input type="text" class="form-control mb-2" name="subject" id="mdsubject" placeholder="Subject"</input>
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" name="email" id="mdemail" rows="10" placeholder="Write the email here"></textarea>
                    </div>
                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="log" name="log" checked>
                      <label class="form-check-label" for="log">Log to archive?</label>
                    </div>
                    {{ f.button("send", "Send email", "btn btn-primary prompt") }}
                  </form>
                </div>
                <!-- HTML replaced by markdown render -->
                <div class="col-6" id="htmlemail"></div>
              </div>
            </div>

          {% elif curr == "develop" %}
            <form method="POST">
              <div class="input-group mb-3 mt-4">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary" type="submit">HTTP Status</button>
                </div>
                <input name="http" type="text" class="form-control" placeholder="Type in a HTTP response status code..." aria-label="" aria-describedby="basic-addon1">
              </div>
            </form>

            <ul>
              <li> Appending " H" causes 400 bad request but TJ's nginx server errors <a href="https://activities.tjhsst.edu/cubing/%20H">first</a> </li>
              <li> 404 is <a href="{{ URL + '/test' }}">easy</a> </li>
              <li> <code> curl -X POST http://localhost:5000/</code> causes 405 method not allowed </li>
              <li> Upload a file greater than {{ humanize.naturalsize(config["MAX_CONTENT_LENGTH"]) }} to cause 413 </li>
              <li> 500 is a general purpose error message. </li>
            </ul>
          {% else %}
            There appears to be nothing here...
          {% endif %}
        </div>
      </div>
    </div>

    <script>
        // Confirm delete
        $(document).on("click", ".show-alert", function(e) {
            bootbox.confirm("Are you sure you want to delete your account?", function(result) {
                window.result = result;
                if (result) {
                  document.getElementById("delete").click();
                  window.result = false;
                }
            });
        });

        $("#deleteform").submit(function( event ) {
          if (window.result) {
            return;
          }
          event.preventDefault();
        });

        $(document).on("click", ".prompt", function(e) {
            bootbox.confirm("Are you sure you want to send the email?", function(result) {
                window.result = result;
                if (result) {
                  $("#send").removeClass("prompt");
                  document.getElementById("send").click();
                  $("#send").addClass("prompt");
                  window.result = false;
                }
            });
        });

        $("#mdform").submit(function( event ) {
          if (window.result) {
            return;
          }
          event.preventDefault();
        });

        // Toggle button text
        $("#toggle").on("click", function(e) {
          a = "Show cookie data";
          b = "Hide cookie data";
          h = $("#cookie").height();
          console.log($("#cookie").width());
          // closed or fully extended
          if (h == 160 | h == 144) {
            this.innerHTML = ($.trim(this.innerHTML) == a ? b : a);
          }
        });

        // Update HTML rendering
        var converter = new showdown.Converter();
        $('#mdemail').keyup(function() {
          $('#htmlemail').html(converter.makeHtml($('#mdemail').val()));
        });

        // Enable tooltips
        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
        })
    </script>

  {% else %}
    {% if request.args.get("mode") == "register"  %}
      <form method="POST">
        {{ boxes() }}
        <div class="form-group">
          <label for="checkpassword">Confirm Password</label>
          <input type="password" class="form-control" id="checkpassword" name="checkpassword" placeholder="Retype the password">
        </div>
        {{ f.button() }}
      </form>
    {% else %}
      <form method="POST">
        {{ boxes() }}
        {{ f.button() }}
        ...or register a new account <a href="{{ furl_for('profile', mode='register') }}"> here </a>
      </form>
    {% endif %}
  {% endif %}
{% endblock %}
