{% extends "helper/base.html.j2" %}

{% block pageheader %}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-3">
        <ul class="nav flex-column nav-pills">
          <li class="nav-item list-group-item-secondary">
            <a class="nav-link">Settings</a>
          </li>
          {% for tab in ["profile", "account", "security", "emails", "GPG keys"] %}
            <li class="nav-item list-group-item">
              <a class="nav-link {{ 'active' if tab == request.args.get('tab', 'profile') else '' }}" href="{{ furl_for('settings', tab=tab) }}">{{ tab | capitalize }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-9">
        {% set tab = request.args.get("tab", "profile") %}
        {% if tab == "profile" %}
          <h3> Public profile </h3>
          <hr>
          <div class="container">
            <div class="row">
              <div class="col-8">
                <form>
                  <div class="form-group">
                    <label for="name"><h6>Name</h6></label>
                    <input type="text" class="form-control" id="name" aria-describedby="nameHelp" value="{{ session.get('name', 'anonymous')}}">
                    <small id="nameHelp" class="form-text text-muted">You are able to remove this at any time.</small>
                  </div>
                </form>
              </div>
              <div class="col-2">
                <figure class="figure">
                  <figcaption class="mt-2"><h6>Profile picture</h6></figcaption>
                      <a class="link-unstyled" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="svgcontainer">
                          <i class="svg-icon" fill="white" stroke="white" data-feather="edit-3"></i>
                          {{ f.img(250) }}
                        </div>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <form method="POST" enctype="multipart/form-data">
                          {{ photoForm.csrf_token }}
                          <label class="dropdown-item">
                              Upload a photo {{ f.render_field(photoForm.photo) }}
                          </label>
                        </form>
                        <form id="removeform" method="POST">
                          {{ btnform.csrf_token }}
                          {{ f.button("remove", "Remove photo", "dropdown-item show-alert") }}
                        </form>
                      </div>
                </figure>
              </div>
            </div>
          </div>
        {% elif tab == "account" %}
          <h3> Account </h3>
          <hr>
        {% elif tab == "GPG keys" %}
          <h3> GPG Keys
            <button class="btn btn-success float-right" type="button" data-toggle="collapse" id="toggle" data-target="#newgpg" aria-expanded="false" aria-controls="collapseExample">
              New GPG key
            </button>
          </h3>
          <hr>

          <div class="collapse" id="newgpg">
            {{ f.render_form(gpgForm, ["gpgkey"], f.button(text="Add GPG key", classes="btn-success") )}}
          </div>

          <div id="list">
            {% if user["keys"] | length > 0 %}
              <p> This is a list of GPG keys associated with your account. Remove any keys that you do not recognize. </p>
            {% else %}
              <p> You have no GPG keys associated with your account. </p>
            {% endif %}

            {% for key in user["keys"] %}
              <div class="card mt-4" style="width: 50rem;">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-10">
                      <div class="media">
                        <figure class="figure">
                          {{ f.svg("key", "black", 50, False, "align-self-center mr-3 figure-img img-fluid") }}
                          <figcaption class="figure-caption text-left">GPG</figcaption>
                        </figure>
                        <div class="media-body">
                          <p class="mb-1"><strong>Email addresses:</strong> {{ key["fuids"] | e }} </p>
                          <p class="mb-1"><strong>Fingerprint:</strong> {{ key["fingerprint"][-16:] }} </p>
                          <p class="mb-1"><strong>Subkeys:</strong> {{ ", ".join(key["subkey_info"].keys() | sort) }} </p>
                          <h6><small class="text-muted">Created {{  arrow.get(key["date"]).humanize() }} </small></h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-2">
                      <form method="POST">
                        {{ btnform.csrf_token }}
                        {{ f.button("delete", "Delete", "btn btn-outline-danger align-self-center", loop.index - 1)}}
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

        {% else %}
        {% endif %}
      </div>
    </div>
  </div>

  <script>
      $(document).on("click", ".show-alert", function(e) {
          bootbox.confirm("Are you sure you want to remove your profile picture?", function(result) {
              window.result = result;
              if (result) {
                document.getElementById("remove").click();
                window.result = false;
              }
          });
      });

      $("#removeform").submit(function( event ) {
        if (window.result) {
          return;
        }
        event.preventDefault();
      });

      $("#toggle").on("click", function(e) {
        b = document.getElementById("newgpg").classList.contains("show");
        document.getElementById("list").style.display = (b ? "" : "none");
      });

  </script>
{% endblock %}
